body {
  background-color: #57b1e8;
  background: linear-gradient(orange, #57b1e8);
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-height: 100%;
}
.box {
  border: 0px solid black;
  padding: 5px 20px 20px 20px;
  margin: 60px auto;
  margin-bottom: 27%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  opacity: 0.7;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
  border-bottom: 2px solid #929ea5;
  padding: 0 0 20px;
}
.search-space {
  gap: 10px;
  border: 0px solid black;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 380px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(197, 181, 157);
}
.search-button {
  background-color: #57b1e8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
}
.search-button:hover {
  background-color: #f5630e;
  color: #123f5b;
  transition: all 0.3s ease;
  font-weight: bold;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  padding-top: -10px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h3 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
}
h4 {
  margin-bottom: 0px;
}
p {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.section {
  display: flex;
  justify-content: space-between;
}
.city-weather {
  display: block;
}
.city-sky {
  display: flex;
  gap: 5px;
}
.weather-date {
  display: flex;
  gap: 5px;
}
.city-temperature {
  display: flex;
  justify-content: space-between;
}
.temperature {
  font-size: 120px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.temp-change {
  font-size: 20px;
  color: #57b1e8;
  text-decoration: none;
  margin-top: 0px;
}
.temp-change:hover {
  color: #f5630e;
}
.humid {
  color: #f5630e;
  margin: 0px;
  display: inline;
  font-weight: bold;
}
footer {
  border-top: #929ea5 solid 2px;
  padding: 20px 0 0;
  font-size: 15px;
  margin-top: 20px;
  color: #123f5b;
  text-align: center;
}
a {
  color: #1f5578;
  font-weight: bolder;
}
a:hover {
  color: #f5630e;
  transition: all 0.3s ease;
}
