body {
  background: linear-gradient(orange, #57b1e8);
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.box {
  border: 2px solid rgb(101, 95, 95);
  padding: 5px 20px 20px 20px;
  margin: 60px auto;
  margin-bottom: 27%;
  max-width: 550px;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 30px;
  box-shadow: inset 0px 6px 20px rgba(0, 0, 0, 0.1);
}
header {
  border-bottom: 2px solid #929ea5;
  padding: 0 0 20px;
}
.search-space {
  gap: 10px;
  border: 0px solid rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-right: 10px;
  width: 430px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(91, 88, 85, 0.4);
  color: white;
}
.search-button {
  background-color: #163d69;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
}
.search-button:hover {
  background-color: #ffffff;
  color: #123f5b;
  transition: all 0.3s ease;
  font-weight: bold;
}
h1 {
  font-size: 45px;
  font-weight: 700;
  padding-top: -10px;
}
h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.weather-picture {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
}
h4 {
  margin-bottom: 0px;
}
p {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.section {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.city-weather {
  display: block;
}
.city-sky {
  display: flex;
  gap: 5px;
}
.weather-date {
  display: flex;
  gap: 5px;
}
.city-temperature {
  display: flex;
  justify-content: space-between;
}
.temperature {
  font-size: 110px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.temp-change {
  font-size: 20px;
  color: #163d69;
  text-decoration: none;
  margin-top: 0px;
}
.temp-change:hover {
  color: #810606;
}
.humid {
  color: #163d69;
  margin: 0px;
  display: inline;
  font-weight: bold;
}
footer {
  border-top: #929ea5 solid 2px;
  padding: 20px 0 0;
  font-size: 15px;
  margin-top: 20px;
  color: #123f5b;
  text-align: center;
}
a {
  color: #1f5578;
  font-weight: bolder;
}
a:hover {
  color: #810606;
  transition: all 0.3s ease;
}
